
<div class="row">
<div class="col-md-6">
  <div id="tree" class="simple-tree async-tree select-tree" style="max-height: 200px">
  <details open="true">
    <summary>
      </summary>
      <a id="file 1" href="#" data-type="file" class="selected">file 1</a>
      <a id="file 2" href="#" data-type="file">file 2</a>
      <details data-type="folder" open="false" >
        <summary id="folder 1" class="" (click)="folderClick($event)">folder 1</summary>
        <a id="file 1/1" href="#" data-type="file">file 1/1</a>
        <a id="file 1/2" href="#" data-type="file">file 1/2</a>
        <details data-type="folder" open="">
          <summary id="folder 1/1">folder 1/1</summary>
        <details data-type="folder" open="">
          <summary id="folder 1/1/1">folder 1/1/1</summary>
          <details data-type="folder" open="">
            <summary id="folder 1/1/1/1">folder 1/1/1/1</summary>
            <a id="file 1/1/1/1/1" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="file 1/1/1/1/2" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            </details>
            </details>
            </details>
            <details data-type="folder" open="">
            <summary id="f1">folder 1/1/1/1</summary>
            <a id="f1-1" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f2" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="f3" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f4" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f5" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f6" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f7" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f8" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f9" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f10" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f11" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f12" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f13" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f14" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f15" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f16" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f17" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f18" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f19" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="f20" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            
              </details>
</div>
</div>

<div class="col-md-6">
  <div id="tree" class="simple-tree async-tree select-tree" style="max-height: 200px">
  <details open="">
    <summary>
      </summary>
      <a id="ile 1" href="#" data-type="file" class="selected">file 1</a>
      <a id="ile 2" href="#" data-type="file">file 2</a>
      <details data-type="folder" open="">
        <summary id="older 1" class="">folder 1</summary>
        <a id="ile 1/1" href="#" data-type="file">file 1/1</a>
        <a id="ile 1/2" href="#" data-type="file">file 1/2</a>
        <details data-type="folder" open="">
          <summary id="older 1/1">folder 1/1</summary>
        <details data-type="folder" open="">
          <summary id="older 1/1/1">folder 1/1/1</summary>
          <details data-type="folder" open="">
            <summary id="older 1/1/1/1">folder 1/1/1/1</summary>
            <a id="ile 1/1/1/1/1" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="ile 1/1/1/1/2" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            </details>
            </details>
            </details>
            <details data-type="folder" open="">
            <summary id="t1">folder 1/1/1/1</summary>
            <a id="t2" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="t3" href="#" data-type="file">file 1/1/1/1/2</a>
           
            <a id="ff1" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff2" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="ff3" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff4" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff5" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff6" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff7" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff8" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff9" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff10" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff11" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff12" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff13" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff14" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff15" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff16" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff17" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff18" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff19" href="#" data-type="file">file 1/1/1/1/2</a>
            <a id="ff20" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            
              </details>
              </div>
 </div>

 </div> 

