
<div class="row">
<div class="col-md-6">
  <div id="tree" class="simple-tree async-tree select-tree">
  <details open="true">
    <summary>
      </summary>
      <a id="file 1" href="#" data-type="file" class="selected">file 1</a>
      <a id="file 2" href="#" data-type="file">file 2</a>
      <details data-type="folder" open="false" >
        <summary id="folder 1" class="" (click)="folderClick($event)">folder 1</summary>
        <a id="file 1/1" href="#" data-type="file">file 1/1</a>
        <a id="file 1/2" href="#" data-type="file">file 1/2</a>
        <details data-type="folder" open="">
          <summary id="folder 1/1">folder 1/1</summary>
        <details data-type="folder" open="">
          <summary id="folder 1/1/1">folder 1/1/1</summary>
          <details data-type="folder" open="">
            <summary id="folder 1/1/1/1">folder 1/1/1/1</summary>
            <a id="file 1/1/1/1/1" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="file 1/1/1/1/2" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            </details>
            </details>
            </details>
            <details data-type="folder" open="">
            <summary id="f1">folder 1/1/1/1</summary>
            <a id="f2" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="f3" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            
              </details>
</div>
</div>

<div class="col-md-6">
  <div id="tree" class="simple-tree async-tree select-tree">
  <details open="">
    <summary>
      </summary>
      <a id="ile 1" href="#" data-type="file" class="selected">file 1</a>
      <a id="ile 2" href="#" data-type="file">file 2</a>
      <details data-type="folder" open="">
        <summary id="older 1" class="">folder 1</summary>
        <a id="ile 1/1" href="#" data-type="file">file 1/1</a>
        <a id="ile 1/2" href="#" data-type="file">file 1/2</a>
        <details data-type="folder" open="">
          <summary id="older 1/1">folder 1/1</summary>
        <details data-type="folder" open="">
          <summary id="older 1/1/1">folder 1/1/1</summary>
          <details data-type="folder" open="">
            <summary id="older 1/1/1/1">folder 1/1/1/1</summary>
            <a id="ile 1/1/1/1/1" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="ile 1/1/1/1/2" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            </details>
            </details>
            </details>
            <details data-type="folder" open="">
            <summary id="t1">folder 1/1/1/1</summary>
            <a id="t2" href="#" data-type="file">file 1/1/1/1/1</a>
            <a id="t3" href="#" data-type="file">file 1/1/1/1/2</a>
            </details>
            
              </details>
              </div>
 </div>

 </div> 

